.to-up{
  animation: toUp 5s infinite linear ;
}

.to-bottom{
  animation: toUp 5s infinite linear reverse;
}

@keyframes toUp {
  0%{
    transform: translateY(-34%);
  }
  100%{
    transform: translateY(0%);
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}