<div class="bg-[#F3F5F6]">
  <div class="max-w-[1175px] mx-auto border-x border-[#0208171A]">
      <app-common-header label="Kurslar"></app-common-header>
  </div>
</div>
<hr class="border-gray-200" />
<div class="max-w-[1175px] mx-auto border-x border-[#0208171A] px-5 py-6">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
        <div
            *ngFor="let course of courses"
            class="flex flex-col bg-main-grey-100 rounded-2xl overflow-hidden border border-[#1119221A] px-1 pt-1
            shadow-[0px_4px_8px_0px_#0208171A] shadow-[0px_1px_3px_0px_#0208171A] shadow-[inset_0px_-1px_0px_0px_#00000012]"
        >
            <div class="grow rounded-xl overflow-hidden bg-white border border-[#1119221A]">
              <div class="">
                <img
                    [src]="course.image"
                    alt="{{ course.title }}"
                    class="h-[228px] w-full object-cover"
                />
              </div>
              <div class="py-5 pl-4 pr-2">
                <h3 class="text-lg font-semibold text-[#0B181E] mb-2">
                    {{ course.title }}
                </h3>
                <p class="text-[#747683] text-sm leading-5 mb-4">
                    {{ course.description }}
                </p>
                <div
                    class="text-sm font-medium flex items-center gap-2 grow"
                >
                    <app-info-block label="{{ course.category }}"></app-info-block>
                    <app-info-block label="{{ course.lessonLength }} ta darslar" iconLink="./src/svg/Videos.svg"></app-info-block>

                </div>
              </div>
            </div>

            <div class="flex flex-col justify-end py-5 px-2">
                <a
                    [routerLink]="'/course/view/' + course.id"
                    class="flex justify-center w-full py-[11px] bg-[linear-gradient(180deg,_#489FFE_0%,_#017AFF_59.62%,_#0072F0_96.15%)]
                    border-2 border-[#002C5D25] text-white font-medium rounded-xl cursor-pointer hover:shadow-[0px_0px_10px_#0064D380] hover:-translate-y-1 ease-linear duration-100
                     shadow-[0px_1px_3px_0px_#0064D380]
                    "
                    style="text-shadow: 0px -1.5px 0px #0000001A"
                >
                  Batafsil
                </a>
            </div>
        </div>
    </div>
</div>
