/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
*{
  font-family: 'Inter', sans-serif;
}


@theme {

  --color-main: #017AFF;

  --color-main-black: #000000;

  --color-main-grey-100: #F4F5F6;
  --color-main-grey-200: #EBEDEF;
  --color-main-grey-300: #E1E3E5;
  --color-main-grey-600: #686D73;
  --color-main-grey-700: #42474D;
  --color-main-grey-900: #0E141B;
}

.p-accordion,
.p-accordion .p-accordionheader,
.p-accordion .p-accordioncontent-content {
  background: transparent !important;
  box-shadow: none !important;
}
.p-accordionpanel-active{
  transition: all 0.2s;
  background-color: #F4F5F6 !important;
}
.p-accordionheader{
  padding: 20px !important;
}
